/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: cover;
  background-attachment: fixed;

  color: var(--text-color);
  background: repeating-linear-gradient(
      90deg,
      var(--background-color),
      var(--background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start),
      var(--background-color-end) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start),
      var(--background-color-end)
    );
}

/* header */

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.header_content {
  min-width: 700px;
  font-family: var(--fantasy-font-family);
  text-align: center;
  color: var(--text-color);
  margin: 100px 370px;
  padding: 136px 0 25px;
  background: var(--header-background);
  border: 2px solid var(--stroke-color);
}

@media (width <= 375px) {
  .header {
    padding: 0 0 0 0;
  }

  .header_content {
    width: 100%;
    padding: 120px 0 25px;;
  }
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin: 20px 55px;
}

.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: -moz-min-content;
  width: min-content;
  text-align: start;
  margin: 0 45.1%;
}

.theme-menu__button {
  padding: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
  cursor: pointer;
}

.theme-menu__item {
  margin-top: 3px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-left: -20px;
  animation: arrow 0.5s ease-in-out infinite;
  pointer-events: none;
}

.theme-menu__button:disabled:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  transition: width 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: translateX(0);
  display: block;
  position: absolute;
  left: 0;
  outline: none;
  outline: 2px;
  opacity: 0.6;
  content: "";
  transition: width 0.3s ease;
}

/*не плавно треугольник*/



.button {
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--mix-blend-color);
  background: none;
  border: 2px solid var(--stroke-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
}

.save-button {
  padding: 15px 20px;
  margin: 50px auto;
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--page-background);
}


@media (width <= 375px) {
  .save-button {
    padding: 19px 20px;
    flex-direction: column;
  }
}

.ok-button {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  background: var(--page-background);
}


/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}


/* Card */

.card {
  max-width: 698px;
  background-color: var(--card-background);
  color: var(--text-color);
  border: 2px solid var(--stroke-color);

}

.card__title {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px 5px 8px;
}


.card__image {
  object-fit: cover;
  object-position: -338px;
  min-height: 700px;
  width: 100%;
  border-top: 2px solid var(--stroke-color);
  border-bottom: 2px solid var(--stroke-color);
}

@media (width <= 375px) {
  .card__image {
    min-height: 371px;
    width: 100%;
    object-position: -180px;
  }
}
.card__image-container {
  overflow: hidden;
  position: relative;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  margin: 21px 24px 0;
  gap: 27px;
}

@media (width <= 375px) {
  .card__text-container {
    margin: 25px 25px 0;
  }
}

.card__text {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
}

.image-label {
  font-family: var(--fantasy-font-family);
  position: absolute;
  right: 25px;
  top: 27px;
  background-blend-mode: hard-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  -webkit-text-stroke: 1px #fff;
  z-index: 1;
  opacity: 0.5;
} 

@media (width <= 375px) {
  .image-label {
    right: 12px;
  top: 25px;
  }
}

@supports (-webkit-text-stroke: 1px #fff) {
  .text-outline {
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px 0 #fff, 0 -1px #fff, -1px 0 #fff, 0 1px #fff;
  }
}

.card__icon-button {
  padding: 0;
  width: 39px;
  height: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--stroke-color);
}

.card__like-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__like-button {
  margin-left: 12px;
  width: 130px;
  height: 38px;
  background: none;
  margin: 25px 25px 25px 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
}

/* Photo filters */

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.saturate {
  filter: saturate(360%);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(20px);
}

.multi-filter {
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}

/*  */

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}